<!DOCTYPE html>
<html>

<head>
    <title>Уровень</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=67b62d8b-ea26-4350-a5f6-6e7a3c6ed99e"
        type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}"
</head>

<body>
    <div id="coord_form">
        <table>
            <p><label>Площадь здания: </label><input id="square" class="form-control" name="icon_text" /></p>
            <p><label>Количество этажей: </label><input id="floors" class="form-control" name="icon_text" /></p>
            <p><label>Тип здания: </label>
                <select size='1' id="type_change">
                    <option disabled> Выберите тип здания</option>
                    <option value='Жилое'>Жилое</option>
                    <option value='Отель'>Отель</option>
                    <option value='Офис'>Офис</option>
                    <option value='ЖК'>ЖК</option>
                </select>
            </p>
            <p id="station_lbl"><label>Станция метро:</label>
                <select id="metro_station" size="1">
                    <option disabled>Выберите станцию метро</option>
                    <option value='Белорусская'>Белорусская</option>
                    <option value='Беговая'>Беговая</option>
                </select>
            </p>
            <p><label>Время расчёта: </label><input type="time", value="time" id="time"></p>

            <p id="qnt" style="visibility: hidden;"><label>Количество зданий: </label><input id="houses" class="form-control" name="icon-text"/></p>
            <p><input id="ok_btn" type="submit" , value='OK'>
            </p>
        </table>
    </div>
</body>
<div id="map"></div>
</body>
</html>
<script src="{{ url_for('static', path='/main.js') }}" type="text/javascript"></script>
